aside.aside
    nav.main_menu 
        ul
            li 
                a.menu(href="/index.html") Математика онлайн
            li 
                a.menu(href="/nod.html") Наибольший общий делитель НОД
            li 
                a.menu(href="/nok.html") Наименьшее общее кратное НОК
            li 
                a.menu(href="/simple.html") Разложение на множители
            li 
                a.menu(href="/notation.html") Системы счисления
            li
                a.menu(href="/prime_numbers.html") Простые числа
                ul.submenu
                    li 
                        a.menu(href="/prime_numbers.html") Простые числа
                    li 
                        a.menu(href="/prime_numbers/table.html") Таблица простых чисел
                    li 
                        a.menu(href="/prime_numbers/isprime.html") Проверка простое ли число
                    li 
                        a.menu(href="/prime_numbers/examples.html") Простые числа решение задач
            li 
                a.menu(href="/factorial.html") Факториал
                ul.submenu
                    li 
                        a.menu(href="/factorial.html") Факториал
                    li 
                        a.menu(href="/factorial/examples.html") Примеры решения факториалов
                    li 
                        a.menu(href="/factorial/table.html") Таблицы факториалов
                    li 
                        a.menu(href="/factorial/calc.html") Калькулятор факториалов
                    li 
                        a.menu(href="/factorial/progs.html") Программы расчета факториалов


