aside.aside
    nav.main_menu 
        ul
            li 
                a.menu(href="/index.html") Главная
            li 
                a.menu(href="/pages/nod/nod.html") Наибольший общий делитель НОД
            li 
                a.menu(href="/pages/nok/nok.html") Наименьшее общее кратное НОК
            li 
                a.menu(href="/pages/simple/simple.html") Разложение на простые множители
            li 
                a.menu(href="/pages/notation/notation.html") Системы счисления
            li
                a.menu(href="/pages/complex/complex.html") Комплексные числа
            li 
                a.menu(href="../../pages/factorial/factorial.html") Факториал
                ul.submenu
                    li 
                        a.menu(href="../../pages/factorial/factorial.html") Факториал
                    li 
                        a.menu(href="../../pages/factorial/examples.html") Примеры решения факториалов
                    li 
                        a.menu(href="../../pages/factorial/table.html") Таблицы факториалов
                    li 
                        a.menu(href="../../pages/factorial/calc.html") Калькулятор факториалов
                    li 
                        a.menu(href="../../pages/factorial/progs.html") Программы расчета факториалов
