aside.aside
    nav.main_menu 
        li 
            a.menu(href="index.html") Главная
        li 
            a.menu(href="nod.html") Наибольший общий делитель
        li 
            a.menu(href="#") Наименьшее общее кратное
        li 
            a.menu(href="#") Системы счисления
        li 
            a.menu(href="#") Факториал