aside.aside
    nav.main_menu 
        ul
            li 
                a.menu(href="/index.html") Главная
            li 
                a.menu(href="/pages/nod/nod.html") Наибольший общий делитель
            li 
                a.menu(href="/pages/nok/nok.html") Наименьшее общее кратное
            li 
                a.menu(href="/pages/simple/simple.html") Разложение на простые множители
            li 
                a.menu(href="/pages/notation/notation.html") Системы счисления
            li
                a.menu(href="/pages/complex/complex.html") Комплексные числа
            li 
                a.menu(href="/pages/factorial/factorial.html") Факториал