footer.footer
    nav.footer_menu 
        ul
            li 
                a.footer_link(href="/index.html" target="_blank") Главная
            li 
                a.footer_link(href="/pages/nod/nod.html" target="_blank") Наибольший общий делитель
            li 
                a.footer_link(href="/pages/nok/nok.html" target="_blank") Наименьшее общее кратное
            li 
                a.footer_link(href="/pages/simple/simple.html" target="_blank") Разложение на простые множители
            li 
                a.footer_link(href="/pages/notation/notation.html" target="_blank") Системы счисления
            li 
                a.footer_link(href="/pages/complex/complex.html" target="_blank") Комплексные числа
            li 
                a.footer_link(href="/pages/factorial/factorial.html" target="_blank") Факториал
    span Copyright 2020
script(src="js/media.js")