footer.footer
    nav.footer_menu 
        ul
            li 
                a.footer_link(href="/index.html" rel="nofollow") Математика онлайн
            li 
                a.footer_link(href="/nod.html" rel="nofollow") Наибольший общий делитель НОД
            li 
                a.footer_link(href="/nok.html" rel="nofollow") Наименьшее общее кратное НОК
            li 
                a.footer_link(href="/simple.html" rel="nofollow") Разложение на множители
            li 
                a.footer_link(href="/notation.html" rel="nofollow") Системы счисления
            li 
                a.footer_link(href="/prime_numbers.html" rel="nofollow") Простые числа
            li 
                a.footer_link(href="/factorial.html" rel="nofollow") Факториал
    span math-365.ru &nbsp; Copyright 2020    
