footer.footer
    nav.footer_menu 
        li 
            a.menu(href="index.html") Главная
        li 
            a.menu(href="nod.html") Наибольший общий делитель
        li 
            a.menu(href="nok.html") Наименьшее общее кратное
        li 
            a.menu(href="simple.html") Разложение на простые множители
        li 
            a.menu(href="notation.html") Системы счисления
        li 
            a.menu(href="factorial.html") Факториал
    span Copyright 2020
script(src="js/media.js")