footer.footer
    nav.footer_menu 
        ul
            li 
                a.footer_link(href="/index.html") Главная
            li 
                a.footer_link(href="/nod.html") Наибольший общий делитель НОД
            li 
                a.footer_link(href="/nok.html") Наименьшее общее кратное НОК
            li 
                a.footer_link(href="/simple.html") Разложение на простые множители
            li 
                a.footer_link(href="/notation.html") Системы счисления
            li 
                a.footer_link(href="/complex.html") Комплексные числа
            li 
                a.footer_link(href="s/factorial.html") Факториал
    span Copyright 2020
