header.header
    a.logo_svg(href="index.html")
        include ../icon/logo.pug
    a.logo(href="index.html") <span>Математика</span> онлайн

    .hamburger 
        span 
        span 
        span