header.header
    a.logo_svg(href="/index.html"  rel="nofollow")
        include ../icon/logo.pug
    a.logo(href="/index.html"  rel="nofollow") <span>Математика</span> онлайн
    .hamburger 
        span 
        span 
        span