<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Расчет факториала онлайн. Быстрое нахождение факториала натуральных чисел. Введите число и мгновенно получите результат.  ")
        title Калькулятор факториалов. Решение факториалов онлайн | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
        script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
        script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)
        //- script(src="https://unpkg.com/@babel/standalone/babel.min.js")
    body       
        include ../includes/_header.pug
        .wrapper    
            .app
                include ../includes/_aside.pug            
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a.header_link(href="/factorial.html" ) Факториал
                                li.tab
                                    a.header_link(href="/factorial/table.html" ) Таблица факториалов
                                li.tab
                                    a.header_link(href="/factorial/examples.html" ) Примеры решения факториалов
                                li.tab
                                    a.header_link(href="/factorial/calc.html" ) Калькулятор факториалов
                        section.solution 
                            h1.solution_title Онлайн калькулятор факториала
                            span.solution_instruction Введите ваше число:
                            .solution_input
                                input#input(type="text" placeholder = "Введите число" required)
                            .calculate 
                                .message_error Введите значения в поле выше
                            .solution_result 
                                span Факториал равен:
                                input#output(type="text")
                            .keys 
                                .numbers 
                                    button(name="1") 1
                                    button(name="2") 2
                                    button(name="3") 3
                                    button(name="4") 4
                                    button(name="5") 5
                                    button(name="6") 6
                                    button(name="7") 7
                                    button(name="8") 8
                                    button(name="9") 9 
                                    button(name="C") C            
                                    button(name="0") 0
                                    button#left(name="left")
                                        i.icon-long-arrow-left 
                                .keys_answer 
                                    button(name="!") !
                            .solution_text(style="text-align: center; margin-bottom: 1rem" ) 
                        .descr
                            p Для расчета введите целое число в поле "Введите число" и нажмите кнопку "!". В поле ниже получите результат расчета, т.е факториал введенного вами числа. <br><strong>Пользуйтесь на здоровье!</strong>      
                            p Калькулятор считает значения факториалов целых чисел. Для отрицательных и дробных чисел факториалы не определены. Примеры решения задач с факториалами рассмотрены на странице <a href="examples.html">Примеры решения факториалов</a>. Для нахождения факториалов также можно воспользоваться <a href="table.html">таблицей факториалов</a>. Программы для расчета факториалорв на языках программирования C++, JavaScript, PHP и Паскаль приведены на <a href="progs.html">Программы расчета факториалов</a>.   
                        h3.interest Полезные материалы по теме
                        ul.interesting
                            li.tab
                                a.header_link(href="/factorial.html" ) Факториалы
                            li.tab
                                a.header_link(href="/factorial/table.html" ) Таблица факториалов
                            li.tab
                                a.header_link(href="/factorial/examples.html" ) Примеры решения факториалов                                           
        include ../includes/_footer.pug 
        script(src="../js/factorial_common.js")    
        script(src="../js/factorial.js")
        script(src="calc.js")
        script(src="../js/media.js")