<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Таблица простых чисел до 100 и 1000. С помощью таблиц можно легко определить провтое или составное данное число")
        title Таблица простых чисел. Список простых чисел | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
        link(rel="stylesheet", href="/css/prime_numbers.min.css")
    body       
        include ../includes/_header.pug
        .wrapper    
            .app
                include ../includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a.header_link(href="/prime_numbers.html" ) Простые числа
                                li.tab
                                    a.header_link(href="/prime_numbers/table.html" ) Таблица простых чисел
                                li.tab
                                    a.header_link(href="/prime_numbers/isprime.html" ) Проверка числа на простоту
                                li.tab
                                    a.header_link(href="/prime_numbers/examples.html" ) Простые числа, примеры и решения
                        section.solution 
                            h1.solution_title Таблицы простых чисел до 100 и 1000
                            .divide_table
                        section.theory 
                            p С помощью таблицы  можно легко узнать является ли число простом. Если его нет - то оно составное. Для очень больших чисел советую воспользоваться <a href="isprime.html"> Проверить, простое число или нет</a>.
                            h2 ТАБЛИЦА ПРОСТЫХ ЧИСЕЛ ДО 100
                            table.prime100(style='border: 1px solid black; border-right: 0px; border-bottom: 0px; width: 60%' cellspacing='0')
                                tr
                                    td(class='tdleft') 2
                                    td(class='tdleft') 3
                                    td(class='tdleft') 5
                                    td(class='tdleft') 7
                                    td(class='tdleft') 11
                                tr
                                    td(class='tdleft') 13
                                    td(class='tdleft') 17
                                    td(class='tdleft') 19
                                    td(class='tdleft') 23
                                    td(class='tdleft') 29
                                tr
                                    td(class='tdleft') 31
                                    td(class='tdleft') 37
                                    td(class='tdleft') 41
                                    td(class='tdleft') 43
                                    td(class='tdleft') 47
                                tr
                                    td(class='tdleft') 53
                                    td(class='tdleft') 59
                                    td(class='tdleft') 61
                                    td(class='tdleft') 67
                                    td(class='tdleft') 71
                                tr
                                    td(class='tdleft') 73
                                    td(class='tdleft') 79
                                    td(class='tdleft') 83
                                    td(class='tdleft') 89
                                    td(class='tdleft') 97
                            p В диапазоне от 1 до 100 всего 25 простых чисел. Из них 4 однозначных и 21 - двузначных.
                            .divide_table
                            p Еще одна таблица, в которой показаны все простые числа от 1 до 1000. 
                            h2 ТАБЛИЦА ПРОСТЫХ ЧИСЕЛ ДО 1000
                            table.prime1000(style='border: 1px solid black; border-right: 0px; border-bottom: 0px; width: 80%' cellspacing='0')
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                tr
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 
                                    td(class='tdleft') 

                            p В таблице все простые числа до 1000. Из них однозначных - 4, двузначных - 21, трехзначных - 143 числа. Для больших чисел, можно воспользоваться  <a href="isprime.html">Калькулятором</a>, который проверяет, простое число или составное.  
                            h3.interest Полезные материалы по теме            
                            ul.interesting
                                li.tab
                                    a.header_link(href="/prime_numbers.html" ) Простые числа
                                li.tab
                                    a.header_link(href="/prime_numbers/isprime.html" ) Проверка, простое ли число
                                li.tab
                                    a.header_link(href="/prime_numbers/examples.html" ) Простые числа. Примеры решения задач                             
        include ../includes/_footer.pug     
        script(src="../js/prime_numbers.js")
        script(src="../js/media.js")