@import 'blocks/common'

// sections styles

@import 'blocks/header'

.wrapper 
    flex-grow: 1
    line-height: 1.52
.app
    display: flex
    justify-content: space-between   
    width: 90%
    margin: 0 auto

    @media screen and (max-width: 768px)
        justify-content: center
        width: 100%

@import 'blocks/aside'
            
.main
    width: 80%
    padding: 2.3rem 5% 1rem

    @media screen and (max-width: 768px)
        width: 100%

    a
        color: #103766
        font-style: italic
        &:hover
            color: #f00

    .data 
        border: 2px solid #cacfd2
        border-radius: 5px
        padding-bottom: 2rem
        .nav_tabs
            ul 
                display: flex
                justify-content: space-between
                align-items: stretch
                padding: 0
                width: 100%
                margin: 0 auto

                @media screen and (max-width: 480px)
                    flex-direction: column
               
                li
                    display: flex
                    justify-content: center
                    align-items: center
                    border-right: 2px solid #faf8f8
                    width: 33.33333%
                    text-align: center
                    padding: 1rem 0
                    font-size: 1rem
                    cursor: pointer
                    background-color: #CACFD2
                    &:hover 
                        background-color: #ffe4b5

                    &:last-child
                        border-right: none

                    &.tab_active
                        background-color: #faf8f5
                        color: #204c6b
                        font-weight: bold

                    @media screen and (max-width: 480px)
                        width: 100%
                      
        .examples 

            p 
                span
                    font-style: italic
            .bold
                font-weight: bold
                 

            .notation
                span
                    color: red
                    font-style: normal
                    font-weight: bold 

            .task_text
                display: inline-block
                margin-right: 1%
                font-weight: normal

            &_solution
                display: flex
                justify-content: start
                align-items: center
                flex-wrap: wrap
                margin-bottom: 2rem
                
            .text
                display: inline-block
                white-space: nowrap
            .answer
                display: inline-block  
            .middle
                display: flex
                align-items: center 
                flex-wrap: wrap
                margin-bottom: 2rem

                .text
                    display: inline-block 

                img
                    display: inline-block
                    height: 3rem
                    width: auto

        .theory
            figure
                width: 60%
                margin: 0 auto

                img
                    width: 100%
                    height: auto
                    display: block
                    margin: 0 auto
                figcaption
                    text-align: center

            table
                width: 90%
                border: 1px solid grey
                border-collapse: collapse
                background-color: #eee

                tr

                    td 
                        border: 1px solid grey
                        text-align: center
                        padding: .2rem 0
                        width: 5%
            .how
                display: block
                margin: 0 auto
                width: 100%
                height: auto

            .zero
                display: block
                margin: 0 auto
                width: 30%
                height: auto
                

        .examples, .theory
            padding: 0 5%

        .solution            
            text-align: center

            &_title
                margin-bottom: 1rem
                margin-top: 0
                padding-top: 1rem

            &_instruction 
                display: block
                font-size: 1rem
                margin-bottom: 1rem

            &_input 
                display: flex
                justify-content: space-evenly   
                align-items: center 
                width: 80%
                margin: 0 auto 1rem auto

                @media screen and (max-width: 480px)
                    flex-direction: column

                &_num
                    display: flex
                    justify-content: center  
                    align-items: center 
                    width: 80%
                    margin: 0 20% 1rem auto

                    input
                        font-size: 1rem
                        text-align: center
                        width: 40%
                        border: 1px solid grey
                        border-radius: 4px

                    span
                        display: block
                        margin: 0 1% 0 auto

                input
                    font-size: 1rem
                    text-align: center
                    width: 40%
                    border: 1px solid grey
                    border-radius: 4px
                    -webkit-appearance: none
                    -moz-appearance: textfield

                    @media screen and (max-width: 480px)
                        margin-top: .5rem
                        width: 75%

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button 
                    -webkit-appearance: none
                    -moz-appearance: textfield
                   
                    &:hover
                        -moz-appearance: number-input
                    &:focus
                        -moz-appearance: number-input                    

                input.notation
                    width: 30%
                    padding: 0.5rem 0
                    text-align: center

                span 
                    margin: 0 2%

            .input_error
                border-style: solid
                border-width: 1px
                border-color: #f00
                
            button 
                margin-bottom: 1rem

            &_result 
                margin-bottom: 2rem

                span
                    display: block
                    font-size: 1rem
                    margin-bottom: 1rem

                input 
                    font-size: 1rem
                    font-weight: bold
                    text-align: center
                    width: 63%

                .result 
                    font-size: 1.5rem
                    font-weight: 700
            
            &_text
                text-align: left
                font-size: 1.2rem
                padding: 0 5%

                a.simple, a.nod 
                    color: purple
                    text-decoration: underline

        .calculate
            z-index: -1
            .message_error
                display: none
                position: absolute
                top: -32%
                left: 50%
                transform: translate(-50%, -50%)
                padding: 1% 2%
                color: red
                font-size: 1.2rem
                &_active
                    display: block

.show 
    display: block

.hide 
    display: none

.divide
    width: 20%
    height: .5px
    background-color: blue
    margin: 0 auto 0 5%

.divide_table
    width: 50%
    height: .5px
    background: blue
    margin: 2rem auto

code
    padding-left: 5%
    font-style: italic
    color: #555


@import 'blocks/footer'
