@import 'blocks/common'

// sections styles

@import 'blocks/header'


.app
    display: flex
    justify-content: space-between
    width: 90%
    margin: 0 auto

@import 'blocks/aside'
            
.main
    width: 70%

    .data 

@import 'blocks/footer'

                
    



