<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Расчет факториала онлайн. Быстрое нахождение факториала натуральных чисел. Введите число и мгновенно получите результат.  ")
        title Калькулятор факториалов. Решение факториалов онлайн | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
    body       
        include ../../includes/_header.pug
        .wrapper    
            .app
                include ../../includes/_aside.pug            
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a(href="factorial.html" ) Факториал
                                li.tab
                                    a.header_link(href="examples.html" ) Примеры решения факториалов
                                li.tab
                                    a.header_link(href="table.html" ) Таблица факториалов
                                li.tab
                                    a.header_link(href="table.html" ) Таблица факториалов
                        section.solution 
                            h2.solution_title Онлайн расчет факториала
                            span.solution_instruction Введите ваше число:
                            .solution_input
                                input(type="text" placeholder = "Введите число" required)
                            .calculate 
                                button.calc.btn Рассчитать
                                .message_error Введите значения в поле выше
                            .solution_result 
                                span Факториал:
                                input(type="text")
                            .solution_text(style="text-align: center; margin-bottom: 1rem" )                                        
        include ../../includes/_footer.pug 
        script(src="../../js/factorial_common.js")    
        script(src="../../js/factorial.js")
        script(src="../../js/media.js")