<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Факториал числа онлайн с решением")
        title Таблица факториалов до 100 и до 10 | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
    body       
        include ../../includes/_header.pug
        .wrapper    
            .app
                include ../../includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a(href="factorial.html" target="_blank") Факториал
                                li.tab
                                    a.header_link(href="examples.html" target="_blank") Примеры решения
                                li.tab
                                    a.header_link(href="calc.html" target="_blank") Калькулятор факториалов
                        section.solution 
                            h1.solution_title Таблицы факториалов
                            .divide
                        section.theory 
                            h2 ТАБЛИЦА ФАКТОРИАЛОВ ДО 20
                            img(src="../../img/jpg/factorial/factorial_table_20.png", alt="Таблица факториалов до 20")
                            .divide
                            h2 ТАБЛИЦА ФАКТОРИАЛОВ ДО 50
                            img(src="../../img/jpg/factorial/factorial_table_50.png", alt="Таблица факториалов до 50")
                                                                    
        include ../../includes/_footer.pug     
        script(src="../../js/factorial_common.js")
        script(src="../../js/media.js")