.aside 
    width: 30%
    margin-top: 5rem

    .menu
        display: block 
        padding: 1rem 5%
        margin: 0 10%
        cursor: pointer
        text-decoration: none

        &:hover 
            color: #ff6a30
            background-color: #eee