.aside 
    width: 22%
    margin: 3rem 0 0 0

    @media screen and (max-width: 768px)
        align-self: flex-start
        position: fixed
        top: 0
        left: -100%
        width: 50%
        height: 50vh
        padding: 0
        background-color: rgba(0,0,0,0.8)
        transition: 0.7s left

    .main_menu
        @media screen and (max-width: 768px)
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-evenly
           

    li
        margin-top: 4px
        margin-bottom: 4px
        @media screen and (max-width: 768px)
            display: flex
            margin: auto 0
            height: 100%

        .menu
            display: block
            width: 80%
            height: 100%
            padding: .5rem 10%
            background-color: #1e90ff
            border: 2px solid #1e90ff
            color: #ffe4b5
            border-radius: 5px
            font-size: 1rem
            cursor: pointer
            text-decoration: none

            @media screen and (max-width: 768px)
                display: flex
                align-items: center
                background-color: transparent
                border: none
                border-radius: 0
                padding: 0 10%

            &:hover 
                color: #1e90ff
                background-color: #ffe4b5

.aside_active 
    left: 0
               
                  
                  

    
        