//  common styles 
@font-face
    font-family: Verdana
    src: url(../fonts/Verdana.ttf)
    font-display: swap
    
@font-face
    font-family: Tahoma
    src: url(../fonts/tahoma.ttf)
    font-display: swap

@font-face
    font-family: arrow-left
    src: url(../icon/font-awesome.css)
    font-display: swap

body 
    font-family: Verdana, Tahoma, Arial, sans-serif
    display: flex
    flex-direction: column
    max-width: 1400px
    width: 100%
    min-height: 100vh
    font-size: 15px
    // line-height: 1.25em
    margin: 0 auto
    padding: 0
    background-color: #faf8f5
    box-sizing: border-box

input, button
    outline: none
    border: none
    box-shadow: 0 2.5px 10px 0 #a7a7a7
    font-size: 1rem
    padding: .5rem 3%
    &::placeholder
        color: #a7a7a7

button 
    cursor: pointer
    font-size: 1rem
    color: #1E90FF
    background-color: #FFE4B5
    border: 1px solid #1E90FF
    border-radius: 10px
    &:hover
        color: #FFE4B5
        background-color: #1E90FF
        border: 1px solid #FFE4B5

li 
    list-style-type: none

a
    text-decoration: none
    color: #000
    &:hover 
        color: #ff6a30

h1
    text-align: center

h2 
    font-size: 1rem
    text-align: left


h3
    text-align: left
    text-indent: 3%
    font-weight: normal
    font-size: 1rem
    font-style: italic

blockquote
    display: block
    font-weight: 400
    font-style: italic
    color: #00f
    margin: 0 0 0 2rem
    padding: .5rem 5%
    border-left: 1px solid #777

    .red
        color: red
        font-weight: 700

.italic
    font-style: italic

.data

    .descr
        padding: 0 2%

    .keys
        display: flex
        width: 45%
        margin: 0 auto
        padding-left: 5%
        @media screen and (max-width: 576px)
            width: 65%

        .numbers
            flex-grow: 6

            .up, .middle, .down, .clear
                display: flex
                justify-content: space-between
                width: 100%

                button
                    width: 33%
                    margin-bottom: 1px
                    border: 1px solid #000
                    border-radius: 0
                    font-size: 1.5rem
                    background-color: #eee
                    
                    &:hover
                        color: #00f
                        
        .keys_answer
            flex-grow: 1
            align-self: center
            height: 6rem
            margin-left: 1%
            button
                width: 100%
                height: 100%
                font-size: 3rem
                border: 1px solid #000
                border-radius: 0
                background-color: #eee
                &:hover
                        color: #f00

.blockquote
    width: 70%
    padding: 0 0 .5rem
    border-left: none
    margin: 0 auto 1rem
    border-right: 1px solid #001D40
    border-bottom: 1px solid #001D40
    border-radius: .6rem
    box-shadow: 0.1rem 0.1rem 0.3rem #002c66


    &_flex
        display: flex
        justify-content: space-evenly
        align-items: center 
        margin-bottom: .5rem
        text-align: center

    span
        display: block

    // .center
    //     font-size: 1.2rem
    //     text-align: center
    //     margin: .5rem auto
    

    .inline
        display: inline

    .title
        padding: .3rem 5%
        margin-bottom: .5rem
        background-color: #DBD7BD

    .content
        padding: 0 5%
        margin-bottom: 1rem

        .black
            color: #000

        .blue
            color: #00f

strong
    color: #002c66
    font-style: italic

li
    list-style-type: disc

table
    margin: 0 auto

.center
    width: 80%
    text-align: center
    margin: .5rem auto 1rem auto
    font-style: italic

.half-width 
    width: 50%

.black
    color: #000

.blue
    color: #00f

img
    display: block
    
