.header
    background-color: #ccc

    .logo 
        display: block
        text-align: center
        font-size: 2rem
        min-height: 5rem
        line-height: 5rem
        cursor: pointer
        text-decoration: none
        color: #000

    span
        color: #ff6a30