<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Проверить онлайн: взаимно простые числа или нет. Введите числа, нажмите кнопку Проверить и получите результат. Быстро и без рекламы")
        title Взаимно простые числа. Онлайн проверка | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
        link(rel="stylesheet", href="/css/prime_numbers.min.css")
    body       
        include ../includes/_header.pug
        .wrapper    
            .app
                include ../includes/_aside.pug            
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a.header_link(href="/simple.html" ) Простые множители
                                li.tab
                                    a.header_link(href="/simple/factorization.html" ) Разложение на множители онлайн
                                li.tab
                                    a.header_link(href="/simple/compire_numbers.html" ) Взаимно простые числа
                                li.tab
                                    a.header_link(href="/simple/compire_calc.html" ) Проверка онлайн на взаимно простые числа
                        section.solution 
                            h1.solution_title Онлайн проверка взаимно простых чисел
                            span.solution_instruction Введите ваши числа:
                            .solution_input
                                input(type="text" placeholder = "Введите число" required autofocus)
                                input(type="text" placeholder = "Введите число" required)
                            .calculate 
                                .message_error Введите значения в поле выше
                            .solution_result 
                                span Ответ:
                                input(type="text")
                            .keys#keys 
                                .keys_answer 
                                    button(name="Enter") Проверить
                                .numbers 
                                    button(name="1") 1
                                    button(name="2") 2
                                    button(name="3") 3
                                    button(name="4") 4
                                    button(name="5") 5
                                    button(name="6") 6 
                                    button(name="7") 7
                                    button(name="8") 8
                                    button(name="9") 9  
                                    button(name="C") C            
                                    button(name="0") 0
                                    button#left(name="left") 
                                        i.icon-long-arrow-left
                                
                        .solution_text(style="text-align: center; margin-bottom: 3rem; margin-top: 1rem; border: 1px solid grey" ) Решение<br>
                        .descr
                            p Для расчета введите целое числа в поле "Введите число" и нажмите кнопку "Проверить". В поле ниже получите результат расчета, т.е введенные числа взаимно простые или нет. <br>Пользуйтесь на здоровье!        
                            p Калькулятор проверяет явдяются ли два введенных числа взаимно простыми. Что такое взаимно простые числа и как они находятся показано на странице <a href="compire_numbers.html">Взаимно простые числа</a>.
                        h3.interest Полезные материалы по теме
                        ul.interesting
                            li.tab
                                a.header_link(href="/simple.html" ) Простые множители
                            li.tab
                                a.header_link(href="/simple/compire_calc.html" ) Разложение на множители онлайн
                            li.tab
                                a.header_link(href="/simple/compire_numpers.html" ) Взаимно простые числа
        include ../includes/_footer.pug     
        script(src="../js/compire.js")
        script(src="../js/media.js")