<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description" content="Разложение на простые множители онлайн. Калькулятор с подробным решением. Без рекламы. Простое и подробное объяснение.")
        meta(name="keywords" content="Разложение на простые множители, калькулятор онлайн, онлайн разложение на множители")
        title Взаимно простые числа | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
        link(rel="stylesheet", href="/css/prime_numbers.min.css")
    body       
        include ../includes/_header.pug
        .wrapper    
            .app
                include ../includes/_aside.pug                   
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a.header_link(href="/simple.html" ) Простые множители
                                li.tab
                                    a.header_link(href="/simple/factorization.html" ) Разложение на множители онлайн
                                li.tab
                                    a.header_link(href="/simple/compire_numbers.html" ) Взаимно простые числа
                                li.tab
                                    a.header_link(href="/simple/compire_calc.html" ) Проверка онлайн на взаимно простые числа
                        section.theory 
                            h1 Взаимно простые числа
                            p Разберемся, что такое взаимно простые числа. Это такие числа, которые не имеют общих делителей, кроме 1 или -1. Можно сформулировать и по другому. У взаимно простых чисел <a href="/nod.html" target="_blank">наибольший общий делитель</a> (НОД) равен единице.
                            img.center.half-width(src="/img/jpg/simple/CoprimeNumbers.jpg", alt="Взаимно простые числа" style="border: 1px solid #b5b5b5")
                            .blockquote 
                                .content Например, числа 5 и 4 - взаимно простые, потому что число 5 имеет делители 1 и 5, а делители четверки: 1, 2 и 4. Общий делитель у них – это единица, а значит, они взаимно просты. <br>По второму определению: наибольший общий делитель чисел 5 и 4 равен 1, НОД(5,4) = 1, а значит они взаимно простые.
                            h2 Взаимно простые числа от 1 до 100
                            p Приведем примеры взаимно простых чисел. <br>2 и 99, <br>15 и 16,<br>28 и 57,<br>29 и 31,<br>12 и 1,<br>59 и 97 и т. д.<br>Чтобы образовывать взаимно простые числа, должно быть, по крайней мере, два числа.
                            h2 Как проверить, являются ли взаимно простыми числа
                            p По определению взаимно простых чисел, если числа имеют 1 или -1 в качестве единственного общего множителя, то такие числа будут взаимно простыми.
                            p Решим примеры.<br>Являются ли взаимно простыми числа:
                            .blockquote 
                                .title 35 и 40
                                .content Решение: <br> Раскладываем оба числа на простые множители.<br> Множители первого числа: 35 = 5 х 7. <br> Множители второго числа: 40 = 2 х 2 х 2 х 5. <br> Общий множитель данных чисел равен 5. Следовательно, 35 и 40 не являются взаимно простыми. 
                            .blockquote 
                                .title 77 и 20
                                .content Решение:<br>Множители первого числа: 77= 7 х 11.<br>Множители второго числа: 20 = 2 х 2 х 5.<br>НОД чисел 77 и 20 равен единице, а значит эти числа будут взаимно простыми.
                            .blockquote
                                .title 231 и 280
                                .content Решение:<br>При разложении обоих чисел на множители получаем:<br>231 = 3 х 7 х 11.<br>280 = 2 х 2 х 2 х 5 х 7.<br>Наибольший общий делитель этих чисел равен 7, а значит они не взаимно простые.
                            h2 Свойства взаимно простых чисел
                            p(style="font-style: italic") <b>Свойство 1:</b> Число 1 взаимно простое с каждым числом.
                            p(style="font-style: italic") <b>Свойство 2:</b> Все простые числа взаимно просты между собой.
                            p Поскольку каждое простое число имеет только два делителя: 1 и само число, единственным общим делителем двух простых чисел будет 1. Например, 11 и 17 - это два простых числа. Множители 11 равны 1, 11, а делители 17 равны 1, 17. Единственный общий делитель равен 1 и, следовательно, они взаимно просты.
                            p(style="font-style: italic") <b>Свойство 3:</b> Любые два последовательных числа всегда взаимно просты.
                            p Рассмотрим любые два последовательных числа, например, 2 и 3,  3 и 4 или 14 и 15. У всех этих чисел общий делитель – это единица.
                            p(style="font-style: italic") <b>Свойство 4:</b> Сумма любых двух взаимно простых чисел всегда взаимно проста с их произведением. 
                            p 2 и 3 взаимно просты. Их сумма равна 5 (2+3), а произведение – 6 (2х3). Следовательно, числа 5 и 6 взаимно просты.
                            h2 Решение примеров.
                            .blockquote 
                                .title Являются ли взаимно простыми числа 21 и 24
                                .content 21 и 24 не являются взаимно простыми числами, потому что имеют множитель равный 3. ( 21 = <span style="display: inline;color: red">3</span> х 7, 24 = 2 х 2 х 2 х <span style="display: inline;color: red">3</span>).
                            .blockquote 
                                .title Являются ли взаимно простыми числа 13 и 11
                                .content 13 и 11 взаимно простые числа, потому что это простые числа (свойство 2).
                            .blockquote 
                                .title Являются ли взаимно простыми числа 17 и 18
                                .content 17 и 18 взаимно простые числа, потому что это два последовательных числа (свойство 3).
                            h2 В чем разница между простыми и взаимно простыми числами?
                            p Простое число определяется как число, которое не имеет множителя, кроме 1 и самого себя.  
                            p Но взаимно простые числа считаются парами, и два числа взаимно просты, если их общий делитель равен только 1. Их НОД равен единице. 
                            p Таким образом, взаимно простые числа – это обязательно 2 или более чисел. Составные числа также могут быть взаимно простыми. 
                            .blockquote 
                                .title Пример
                                .content Числа 25 и 26 – это составные числа (25 = 5 х 5, 26 = 2 х 13). Но они взаимно просты, т.к. это последовательные числа (свойство 3). 



                            
        include ../includes/_footer.pug           
        script(src="/js/simple.js")
        script(src="/js/media.js")