<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description" content="Факториал числа. Расчет факториала онлайн. Без рекламы. Определение, формула и примеры решения. Простое и подробное объяснение.")
        meta(name="keywords" content="Факториал числа, калькулятор онлайн, расчет факториала")
        title Факториал числа. Формула и вычисление, значение факториала натурального числа | Математика онлайн
        link(rel="stylesheet", href="css/nod.min.css")
    body       
        include includes/_header.pug
        .wrapper    
            .app
                include includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a.header_link(href="/factorial.html" ) Факториал
                                li.tab
                                    a.header_link(href="/factorial/table.html" ) Таблица факториалов
                                li.tab
                                    a.header_link(href="/factorial/examples.html" ) Примеры решения факториалов
                                li.tab
                                    a.header_link(href="/factorial/calc.html" ) Калькулятор факториалов
                        section.theory 
                            h1 Факториал
                            .title_image 
                                img(src="/img/jpg/factorial/factorial.jpg", alt="Факториал")
                            h2 ЧТО ТАКОЕ ФАКТОРИАЛ
                            p  Для нахождения факториала нужно умножить все целые числа от выбранного нами числа до 1.
                            p Факториал обозначается символом «!»
                            .blockquote
                                .title Пример факториалов:
                                .content 
                                    p.center.blue 4! = 4 · 3 · 2 · 1 = 24 <br> 5! = 5 · 4 · 3 · 2 · 1 = 120
                            p Обычно говорят 4! как «факториал четырех».
                            h3 ВЫЧИСЛЕНИЕ ФАКТОРИАЛА
                            P Можно легко рассчитать факториал, зная значение факториала предыдущего числа:
                            img.how(src="/img/jpg/factorial/how-factorial.jpg", alt="Как найти факториал")
                            p Можно это записать в виде таблицы:
                            table 
                                tr 
                                    td n 
                                    td n! 
                                    td 
                                    td 
                                tr 
                                    td 1
                                    td <strong>1</strong>
                                    td 1
                                    td 1
                                tr 
                                    td 2
                                    td 2 x <strong>1</strong>
                                    td = 2 x 1!
                                    td = 2
                                tr 
                                    td 3
                                    td 3 x <strong>2 x 1</strong>
                                    td = 3 x 2!
                                    td = 6
                                tr 
                                    td 4
                                    td 4 x <strong>3 x 2 x 1</strong>
                                    td = 4 x 3!
                                    td = 24
                                tr 
                                    td 5
                                    td 5 x <strong>4 x 3 x 2 x 1</strong>
                                    td = 5 x 4!
                                    td = 120
                                tr 
                                    td 6
                                    td и так далее
                                    td и так далее
                                    td 
                            p Для точного определения факториала любого числа следует вопспользоваться <a href="factorial/table.html">таблицей факториалов</a>
                            ul
                                li Чтобы вычислить 6!, нужно 5!=120 умножить на 6, получается 720
                                li Чтобы вычислить 8!,  нужно 7!=5040 умножить на 8, получается 40.320
                            .blockquote
                                .title Пример:
                                .content 
                                    p.blue 9! равно 362.880. Попробуйте посчитать 10! <br>10! = 9!х10 <br>10! = 362.880 х 10 = 3.628.800
                            h3#formula ФОРМУЛА ФАКТОРИАЛА
                            P Существует правило как найти <strong>n факториал</strong>:
                            p.italic n! = n × (n - 1)!
                            p Которое означает:<br>"факториал любого числа - это число, умноженное на факториал предыдущего целого числа"<br>Итак, 12! = 12 × 11!, ... и 100! = 100 × 99!, и т. д.
                            H3 ФАКТОРИАЛ 0
                            p Это очень интересная тема.  Принято, что 0! = 1. А почему?
                            p Никакое умножение чисел не приводит к 1, но давайте проследим факториалы в обратном порядке, скажем, от 4!:
                            img.zero(src="/img/jpg/factorial/zero-factorial.jpg", alt="Факториал нуля")
                            p И во многих задачах 0! = 1 просто имеет смысл.
                            h3#negative ФАКТОРИАЛ ОТРИЦАТЕЛЬНОГО ЧИСЛА
                            p Можем ли мы найти факториалы для чисел меньших нуля?
                            p Нет. Факториалы для таких чисел не определены.
                            p Почему? Легко объяснить на примере.
                            .blockquote 
                                .title Пример 
                                .content 
                                    p.blue Начнем с 3! = 3 × 2 × 1 = 6 и спускаемся вниз: <br>2! =	3! / 3	=	6 / 3	= 2	 <br> 1!	=	2! / 2	=	2 / 2	=	1<br>	0!	=	1! / 1	=	1 / 1	=	1<br>(поэтому 0! = 1) <br> 	(−1)!	=	0! / 0	=	1 / 0	=	ой, деление на ноль не определено
                            p И с этого момента все целочисленные факториалы не определены.
                            h3 ФАКТОРИАЛ ДРОБНОГО ЧИСЛА
                            p Можем ли мы найти факториалы для таких чисел, как 0,4 или −8,116?
                            p Да мы можем! Но нам нужно углубиться в тему под названием <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D0%BC%D0%BC%D0%B0-%D1%84%D1%83%D0%BD%D0%BA%D1%86%D0%B8%D1%8F" target="_blank">Гамма-функция</a>, которая выходит за рамки этой страницы.
                            p И они могут быть отрицательными (кроме целых чисел).
                            p Вот несколько значений дробных факториалов:
                            table(style="width: 50%") 
                                tr 
                                    td (-1/2)! 
                                    td √π
                                tr 
                                    td (1/2)! 
                                    td (1/2)√π
                                tr 
                                    td (3/2)! 
                                    td (3/4)√π
                                tr 
                                    td (5/2)! 
                                    td (15/8)√π
                            h2 ПРИМЕНЕНИЕ ФАКТОРИАЛА
                            p Факториалы незаменимы для вычисления количества перестановок, сочетаний и размещений.
                            .blockquote
                                .title Пример:
                                .content 
                                    p.blue Сколько существует разных способов, с помощью которых 7 человек могут прийти первым, вторым и третьим ?<br>Список довольно длинный, если 7 человек обозначим как a, b, c, d, e, f и g, то список включает:<br><span>abc, abd, abe, abf, abg, acb, acd, ace, acf, ... и т. д.</span><br>Формула для расчета: 7!/(7−3)! = 7!/4!<br>Выпишем умножение полностью:<br><span>(7 × 6 × 5 × 4 × 3 × 2 × 1)/(4 × 3 × 2 × 1)  =  7 × 6 × 5</span><br>Пояснение: 4 × 3 × 2 × 1 сокращено, т.к. они встречаются в числителе и знаменателе, и осталось только 7 × 6 × 5 . получаем:<br><strong>7 × 6 × 5  =  210</strong><br>Итак, есть 210 различных способов, которыми 7 человек могут прийти первым, вторым и третьим.
                            p Решено!
                            .blockquote
                                .title Пример: 
                                .content 
                                    p.blue Что такое 100! / 98!<br> Используя наши знания из предыдущего примера, мы можем сразу перейти к следующему:<br><span>100!/98! = 100 × 99 = 9900</span>
                            p Другие примеры задач с факториалом и их решение на странице <a href="factorial/examples.html">решение факториалов</a>.
                            h2 ИНТЕРЕСНЫЕ ФАКТЫ
                            p 70! приблизительно 1,197857 ... x 10<sup>100</sup> , что чуть больше, чем в Googol (цифра 1, за которой следует сотня нулей).
                            p 100 факториал: 100! приблизительно 9,3326215443944152681699238856 x 10<sup>157</sup>
                            p 200 факториал: 200! приблизительно 7,8865786736479050355236321393 x 10<sup>374</sup> 
                            h3.interest Полезные материалы по теме
                            ul.interesting
                                li.tab
                                    a.header_link(href="/factorial/table.html" ) Таблица факториалов
                                li.tab
                                    a.header_link(href="/factorial/examples.html" ) Примеры решения факториалов
                                li.tab
                                    a.header_link(href="/factorial/calc.html" ) Калькулятор факториалов
        include includes/_footer.pug     
        script(src="js/factorial_common.js")
        script(src="js/media.js")