<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Факториал
        link(rel="stylesheet", href="css/nod.min.css")
    body
        
        include includes/_header.pug
        .wrapper    
            .app
                include includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab Онлайн калькулятор
                                li.tab Теория
                                li.tab Примеры
                        section.solution 
                            h2.solution_title Онлайн вычисление факториала
                            span.solution_instruction Введите ваше число:
                            .solution_input
                                input(type="number" placeholder = "Введите число" required)
                            .calculate 
                                button.calc.btn Рассчитать
                                .message_error Введите значения в поле выше
                            .solution_result 
                                span Факториал:
                                input(type="text")
                            button.solution_btn.btn Решение
                            .solution_text
                        section.theory 
                            h2 Факториал
                            h3 Что такое факториал
                            p Факториал - это произведение всех чисел от 1 до этого числа.
                            p 
                            p Факториал обозначается символом «!»
                            blockquote Примеры: <br> 4! = 1 · 2 · 3 · 4 = 24 <br> 5! = 1 · 2 · 3 · 4 · 5 = 120
                            p Выражение 5! = 120 читается так: «пять факториал равно 120» или «факториал пяти равен 120»
                            h3 Где используется факториал
                            blockquote Числа, которые не являются простыми и имеют другие делители (кроме себя и единицы), называют составными.
                            p Одна из областей, в которой факториал часто используется — это раздел математики, который называется комбинаторика, где нужно посчитать количество перестановок, размещений или сочетаний.
                            blockquote Пример: <br> Сколько существует способов расположить буквы а,б,в,г без повторений. <br> Для одной буквы — это один способ — а (или 1! способов) <br> Для двух букв — два способа — аб, ба. (или 2! способов) <br> Для трех букв — шесть способов — абв, авб, бав, бва, ваб, вба (или 3! способов). <br> Для четырех букв — 24 или 4! способов (комбинации попробуйте сами)
                            h3 Факториалы отрицательных чисел
                            p Могут ли быть факториалы для чисел типа -1, -2 и т. д.?
                            p Нет. Факториалы отрицательных целых чисел не определены.
                            h3 Факториал нуля
                            p Принято считать, что 0! = 1. Таким образом, факториал нуля равен единице.
                            h3 Интересные факты о факториале
                            blockquote Шесть недель — ровно 10! секунд (= 3 628 800)
                            blockquote  Есть 52! способа перемешать колоду карт. <br> Это  8,0658175 … × 10 <sup>67</sup> способов
                            blockquote В наблюдаемой вселенной около  60! атомов. <br> 60! составляет около  8,320987 … × 10 81, а текущие оценки числа атомов составляют от 10 78до 10 82 .

                            
                        section.examples 
                            h2 Вычисление факториала
                            p Любое составное число можно разложить на простые множители.  Существует несколько способов разложения. в этой статье научимся одному из способов разложения, который является одним из самых простых.
                            h3 Алгоритм разложения на простые множители
                            blockquote Определяем, является ли число простым. <br> Если оно составное, то делим его на простые числа, начиная с двух (2, 3, 5, 7, 11 и т. д.). <br> Повторяем предыдущее действие, пока частное от деления не будет простым числом.
                            h3 Пример разложения на простые множители
                            p.title Разложим на простые множители число 54 :  
                            blockquote 54 не является простым. <br> 54 делится на <span class="red">2</span>, поэтому записываем: 54 : 2 = 27. <br> 27 не делится на 2. Пробуем следующее простое число — это число 3. <br> 27 делится на <span class="red">3</span>, получаем   27 : 3 = 9.  <br> 9 не делится на 2, поэтому пробуем деление на 3. <br> 9 делится на <span class="red">3</span>. Записываем 9 : 3 = 3. <br> <span class="red">3</span> — это простое число. Разложение окончено.
                            p.title Ответ:   54 = 2 · 3 · 3  · 3.
                            
                    
        include includes/_footer.pug
        script(src="js/jquery.js")           
        script(src="js/factorial.js")