<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Learn Javascript
        link(rel="stylesheet", href="css/style.min.css")
    body
        .app
            .logo <span>money</span> keeper
            .main_title Расчет дневного бюджета
            .main 
                .data
                    
        script(src="js/script.js")