<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description" content="Подробное онлайн-решение задач по математике. Бесплатно. Вставь свои данные и получи решение онлайн")
        title Математика онлайн
        link(rel="stylesheet", href="css/style.min.css")
    body
        
        include includes/_header.pug
            
        .app
            include includes/_aside.pug
                
            .main
                .data
                    h1 Главная
                    p Возникли проблемы с математикой? Не стоит переживать, значит этот сайт сделан для вас. Действия с цифрами не всегда простые, но знать их нужно, ведь как говорил Пифагор: «Цифры правят миром».
                    h2 О чем сайт
                    p На этом сайте вы найдете необходимые обучающие материалы.
                    p В каждой статье материал объясняется подробно и наглядно. в них содержится много поясняющих картинок, с помощью которых вы сможете разобраться даже в сложном материале.
                    h2 Для чего этот сайт
                    p Если возникают проблемы с освоением на уроках или лекциях, то этот сайт для вас. Также ученикам 11 классов при подготовке к егэ по математике советую пользоваться статьями сайта.
                    p Особенно будет полезно просмотр сайта при подготовке по направлению егэ профильная математика.
                    p Девятиклассников в конце учебного ожидает огэ по математике и материалы сайта помогут вспомнить или понять сложные темы.
                    p Всё очень просто и доступно!
                    h2 Навигация по сайту
                    p В меню сайта все материалы разделены на разделы: логарифм, комплексные числа, НОД и НОК, системы счисления, комбинаторика. Материалы сайта постоянно обновляются.
                    p Если вас пугает слово высшая, знайте — это просто разделы математики, изучаемые в вузах. Ее еще называют «вышмат» или «вышка».
                    p Темы по дискретной математике изучается в университетах будущими программистами. Другое название: прикладная математика. Кроме того, когда вам нужна подготовка к олимпиаде по математике, разделы и статьи сайта очень в этом помогут.
                    
                .result
        include includes/_footer.pug            
        script(src="js/script.js")