<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Подробное онлайн-решение задач по математике.   ")
        meta(name="keywords" content="калькулятор, математика, решение примеров, онлайн")
        title Калькулятор онлайн
        link(rel="stylesheet", href="css/style.min.css")
    body      
        include includes/_header.pug          
        .app
            include includes/_aside.pug              
            .main
                .data
                    h1 Калькулятор онлайн по математике с решением!
                    p Возникают проблемы с решением задач по математике? Онлайн математика бесплатно для вас. 
                    p.header_links Решение примеров по математике. Подробно. <br><br>
                        a.header_link(href="pages/nod/nod.html" target="_blank") Наибольший общий делитель (НОД)
                        span ,
                        <br>
                        a.header_link(href="pages/nok/nok.html" target="_blank") Наименьшее общее кратное (НОК)
                        span ,
                        <br>
                        a.header_link(href="pages/simple/simple.html" target="_blank") Разложение на простые множители
                        span , 
                        <br>
                        a.header_link(href="pages/notation/notation.html" target="_blank") Перевод чисел в другие системы счисления
                        span ,
                        <br> а также 
                        a.header_link(href="pages/factorial/factorial.html" target="_blank") Вычисление факториала 
                        <br>
                        <br>все это можно найти на этом сайте.
                    h2 О чем сайт
                    p На этом сайте вы найдете решение примеров по математике, а также необходимые теоретические материалы, примеры решения и математические термины.
                    p В каждой вкладке материал объясняется подробно и наглядно, а калькулятор проводит вычисления с подробным решением, причем некоторые вычисления производятся двумя способами.
                    h2 Для чего этот сайт
                    p Если возникают проблемы с освоением на уроках или лекциях, то этот сайт для вас. Также ученикам 11 классов при подготовке к ЕГЭ по математике советую пользоваться статьями сайта.
                    p Особенно будет полезно просмотр сайта при подготовке по направлению ЕГЭ профильная математика.
                    p Девятиклассников в конце учебного ожидает ОГЭ по математике и материалы сайта помогут вспомнить или понять сложные темы, ведь математическая грамотность поможет в будущем.
                    p Всё очень просто и доступно!
                    h2 Навигация по сайту
                    p В меню сайта все материалы разделены на разделы: НОД, НОК, разложение на простые множители, системы счисления, факториал. Материалы сайта постоянно обновляются.                    
        include includes/_footer.pug            
        script(src="js/script.js")
        script(src="js/media.js")