<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Наибольший общий делитель
        link(rel="stylesheet", href="css/style.min.css")
    body
        
        .header
            a.logo(href="index.html") <span>Математика</span> для всех
            
        .app
            .aside
                nav.main_menu 
                    li 
                        a.menu(href="index.html") Главная
                    li 
                        a.menu(href="#") Наибольший общий делитель
                    li 
                        a.menu(href="#") Наименьшее общее кратное
                    li 
                        a.menu(href="#") Системы счисления
                    li 
                        a.menu(href="#") Факториал
                
            .main
                .data
                    .nav_tabs 
                        ul 
                            li.tab Онлайн калькулятор
                            li.tab Теория
                            li.tab Примеры
                .result
        .footer
                    
        script(src="js/script.js")