<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Наибольший общий делитель
        link(rel="stylesheet", href="css/nod.min.css")
    body
        
        include includes/_header.pug
        .wrapper    
            .app
                include includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab Онлайн калькулятор
                                li.tab Теория
                                li.tab Примеры
                        section.solution 
                            h2.solution_title Онлайн расчет наибольшего общего делителя (НОД) чисел
                            span.solution_instruction Введите ваши числа:
                            .solution_input
                                input(type="text" placeholder = "Введите число" required)
                                input(type="text" placeholder = "Введите число" required)
                            .calculate 
                                button.calc.btn Рассчитать
                                .message_error Введите значения в поля выше
                            .solution_result 
                                span Наибольший общий делитель (НОД) чисел равен:
                                input(type="text")
                            button.solution_btn.btn Решение
                            .solution_text
                        section.theory 
                            h3 Наибольший общий делитель (НОД)
                            p Начнем с того, что разберемся, что же такое НОД. Возьмем два числа a и b. Наибольший общий делитель — это такое число, на которое делятся без остатка оба числа a и b. Записывается оно следующим образом НОД (a;b).
                            blockquote Наибольший общий делитель находится для двух и более чисел (двух, трех, четырех и т.д.). Невозможно найти НОД для одного числа.
                            p <b>Пример.</b> Есть два числа, например, 18 и 12. найдем для них наибольший общий делитель.
                            p Рассмотрим вначале число <b>18</b>. Оно делится без остатка на число 1 и на само себя, т.е. число 18. Также 18 делится без остатка на следующие числа: 2, 3, 6 и 9. получаем следующее:
                            p 18 : 1 = 18; <br> 18 : 2 = 9; <br> 18 : 3 = 6; <br> 18 : 6 = 3; <br> 18 : 9 = 2; <br> 18 : 18 = 1.
                            p То же самое проделаем с числом 12. Оно делится без остатка на 1, само себя, т.е число 12, а также на 2, 3, 4 и 6, получаем:
                            p 12 : 1 = 12; <br> 12 : 2 = 6; <br> 12 : 3 = 4; <br> 12 : 4 = 3; <br> 12 : 6 = 2; <br> 12 : 12 = 1.
                            p Как Вы могли заметить, во всех примерах деление происходит без остатка (можно еще сказать, что остаток 0). Выпишем все делители числа 18:
                            p 1, 2, 3, 6, 18.
                            p А теперь делители числа 12: 
                            p 1, 2, 3, 4, 6, 12.
                            p И последний этап — найти наибольшее из этих чисел. Как видим, это число 6, оно и будет наибольшим общим делителем чисел 18 и 12. Ответ записывается следующим образом: НОД(18,12) = 6. Озвучить ответ можно так: «Наибольший общий делитель чисел 18 и 12 равен 6».
                            p Таким образом, найден НОД (наибольший общий делитель) двух чисел. Для нахождения НОД чаще всего применяют два способа, которые рассмотрены во вкладке "Примеры".
                        section.examples 
                            h3 Метод разложения на простые множители
                            p В этом методе используется понятие простых чисел и он состоит из трех этапов.
                            p.title Задача. Найти НОД чисел 36 и 54.
                            p Первый этап.
                            p Находим простые множители обоих чисел. Сделаем это для числа 36. Посмотрим, делится ли это число на 2? Да, делится, т.е. 36 : 2 = 18, поэтому записываем:
                            img(src="img/jpg/nod/nod_1.jpg", alt="НОД")
                            p Продолжаем то же самое с числом 9. Делится ли оно на 2? Нет. Подбираем следующее простое число — это 3. Делится ли 9 на 3? Да. Можно записать:
                            img(src="img/jpg/nod/nod_2.jpg", alt="НОД")
                            p И наконец, посмотрим на число 3. Оно не делится на 2, но делится на само себя, т.е. 3 и окончательно для числа 36 пишем:
                            img(src="img/jpg/nod/nod_3.jpg", alt="НОД")
                            p Справа от черты мы получили простые множители числа 36. Выпишем делители этого числа в порядке их возрастания: Д(36) = {2, 2, 3, 3}.
                            p Далее такие же действия проведем для числа 54.
                            p Смотрим, делится ли число 54 на 2? Да, 54 : 2 = 27. Записываем:
                            img(src="img/jpg/nod/nod_4.jpg", alt="НОД")
                            p Делится ли 27 на 2? Нет. А на 3? Да, 27 : 3 = 9.
                            img(src="img/jpg/nod/nod_5.jpg", alt="НОД")
                            p Смотрим на 9. На 2 не делится, но делится на 3 т.е. 9 : 3 = 3. Пишем:
                            img(src="img/jpg/nod/nod_6.jpg", alt="НОД")
                            p А дальше, 3 делится на себя и на этом разложение (а значит и первый этап) заканчивается.
                            img(src="img/jpg/nod/nod_7.jpg", alt="НОД")
                            p Выписываем множители числа 54: Д(54) = {2, 3, 3, 3}.
                            p Дальше мы сравниваем простые множители обоих чисел: Д(36) = {2, 2, 3, 3}. Д(54) = {2, 3, 3, 3}
                            p Второй этап нахождения НОД. Находим одинаковые делители для обоих чисел и подчеркиваем их.
                            p Д(54) = {<span>2</span>, 3, <span>3</span>, <span>3</span>}. Д(36) = {<span>2</span>, 2, <span>3</span>, <span>3</span>}.
                            p Третий этап нахождения НОД
                            p Перемножаем одинаковые делители. 2   &middot;   3   &middot;   3   =   18.
                            p Полученное число и является наибольшим общим делителем чисел 36 и 54. Поэтому записываем: <br><b> Ответ: НОД(36, 54) = 18.</b>
                    
        include includes/_footer.pug
                    
        script(src="js/nod.js")