<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        title Системы счисления
        link(rel="stylesheet", href="css/nod.min.css")
    body
        
        include includes/_header.pug
        .wrapper    
            .app
                include includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab Онлайн калькулятор
                                li.tab Теория
                                li.tab Примеры
                        section.solution 
                            h2.solution_title Онлайн перевод чисел в другие системы счисления
                            .solution_input_num
                                span.solution_instruction Перевод числа:
                                input#input_number(type="text" placeholder = "Введите число" required)
                            .solution_input                               
                                span из 
                                input.notation#not_input(type="text" placeholder = "10" required) 
                                span системы счисления
                                span в 
                                input.notation#not_output(type="text" placeholder = "2" required)
                                span систему счисления
                                //- input(type="number" placeholder = "Введите систему счисления" required)
                            .calculate 
                                button.calc.btn Перевести
                                .message_error Введите значения в поля выше
                            .solution_result 
                                span Перевод числа в другую систему счисления:
                                .result
                                //- input(type="text")
                            button.solution_btn.btn Решение
                            .solution_text
                        section.theory 
                            h3 Перевод в другую систему счисления
                           
                        section.examples 
                           h3 Перевод в другую систему счисления
                            
                    
        include includes/_footer.pug
                    
        script(src="js/notation.js")