<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description", content="Подробное решение онлайн. Бесплатно. Перевод чисел в различные системы счисления. Вставь свои данные и мгновенно получи решение")
        title Системы счисления
        link(rel="stylesheet", href="css/nod.min.css")
    body       
        include includes/_header.pug
        .wrapper    
            .app
                include includes/_aside.pug                 
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab Калькулятор
                                li.tab Теория
                                li.tab Примеры
                        section.solution 
                            h2.solution_title Онлайн перевод чисел в другие системы счисления
                            .solution_input_num
                                span.solution_instruction Перевод числа:
                                input#input_number(type="text" placeholder = "Введите число" required)
                            .solution_input                               
                                span из 
                                input.notation#not_input(type="text" placeholder = "10" required) 
                                span системы счисления
                                span в 
                                input.notation#not_output(type="text" placeholder = "2" required)
                                span систему счисления
                                //- input(type="number" placeholder = "Введите систему счисления" required)
                            .calculate 
                                button.calc.btn Перевести
                                .message_error Введите значения в поля выше
                            .solution_result 
                                span Перевод числа в другую систему счисления:
                                .result
                                //- input(type="text")
                            button.solution_btn.btn Решение
                            .solution_text
                        section.theory 
                            h2 Двоичная система счисления
                            h3 ДВОИЧНЫЕ ЧИСЛА
                            p Двоичное число состоит только из 0 и 1. В двоичном числе нет цифр 2, 3, 4, 5, 6, 7, 8 или 9. 
                            blockquote Пример двоичного числа: 110100
                            p Двоичные числа имеют много применений в математике и за ее пределами.
                            figure
                                p
                                    img(src="img/jpg/notation/digital_world.jpg", alt="Цифровой мир")
                                figcaption Цифровой мир использует двоичную систему
                            h3 ДЕСЯТИЧНАЯ И ДВОИЧНАЯ СИСТЕМЫ
                            p Вот некоторые значения десятичных чисел и соответствующие им двоичные значения
                            table 
                                tr 
                                    td Десятичное число
                                    td 0 
                                    td 1
                                    td 2
                                    td 3
                                    td 4
                                    td 5
                                    td 6
                                    td 7
                                    td 8
                                    td 9
                                    td 10
                                tr
                                    td Двоичное число 
                                    td 0
                                    td 1
                                    td 10
                                    td 11
                                    td 100
                                    td 101
                                    td 110
                                    td 111
                                    td 1000
                                    td 1001
                                    td 1010
                            h3 КАК ОТЛИЧИТЬ ДВОИЧНЫЕ И ДЕСЯТИЧНЫЕ ЧИСЛА
                            blockquote Когда вы произносите двоичное число, произносите каждую цифру (например, двоичное число «101» произносится как «один ноль один» ). Таким образом, люди не путаются с десятичным числом.
                            h3 ЧТО ТАКОЕ БИТ
                            blockquote Одна двоичная цифра (например, «0» или «1») называется «бит». <br> Например, 11010 имеет длину пять битов.
                            h3 КАК ПОКАЗАТЬ, ЧТО ЧИСЛО ДВОИЧНОЕ
                            p Чтобы показать, что число является двоичным , после него снизу записывается 2, например: 101<sub>2</sub>
                            p Таким образом, люди не будут думать, что это десятичное число «101» (сто один).
                            h3 ЮМОР
                            blockquote «В мире есть 10 видов людей, которые понимают двоичные числа, и те, кто не понимают».
                           
                        section.examples 
                            h2 Перевод в другую систему счисления  
                            h3 ПЕРЕВОД ИЗ ДЕСЯТИЧНОЙ В ДВОИЧНУЮ СИСТЕМУ
                            blockquote Перевод производится последовательным делением числа на 2 до тех пор, пока не получим ноль при делении. Записываем остатки от деления.
                            p.bold Пример. Перевести число 12 в двоичную систему счисления
                            p.notation Двенадцать делим на два:  12 / 2 = 6 (остаток <span>0</span>). <br> Шесть делим на два: 6 / 2 = 3 (остаток <span>0</span>).<br> Три делим на два: 3 / 2 = 1 (остаток <span>1</span>)<br> Один делим на два: 1 / 2 = 0 (остаток <span>1</span>).<br>Записываем остатки от деления и получаем число 12 в двоичной системе счисления, т.е. <span>1100</span> 
                            p.bold Ответ: 12<sub>10</sub> = 1100<sub>2</sub>  
                            h3 ПЕРЕВОД ИЗ ДВОИЧНОЙ В ДЕСЯТИЧНУЮ СИСТЕМУ 
                            blockquote Для получения числа в десятичной системе из двочной нужно найти сумму чисел 2 в степени, которая показывает номер разряда двоичного числа.        
                            p.bold Пример. Перевести двоичное число 1100 в десятичную систему счисления
                            p.notation Находим сумму: 1&middot;2<sup>3</sup> + 1&middot;2<sup>2</sup> + 0&middot;2<sup>1</sup> + 0&middot;2<sup>0</sup> = <span>12</span>.
                            p.bold Ответ: 1100<sub>2</sub> = 12<sub>10</sub>  
                            h3 ПЕРЕВОД ИЗ ДЕСЯТИЧНОЙ В ДРУГИЕ СИСТЕМЫ СЧИСЛЕНИЯ 
                            p Перевод в другие системы счисления (трочная, пятиричная, восьмиричная и т.д) производится аналогично. Например, рассмотрим перевод в троичную систему. В этом случае, нужно делить на 3 и записывать остатки от деления. 
                            p.bold Пример. Перевести число 14 в троичную систему счисления
                            p.notation Двенадцать делим на три:  14 / 3 = 4 (остаток <span>2</span>). <br> Четыре делим на три: 4 / 3 = 1 (остаток <span>1</span>).<br> Один делим на три: 1 / 3 = 0 (остаток <span>1</span>).<br> Записываем остатки от деления и получаем число 14 в троичной системе счисления, т.е. <span>112</span> 
                            p.bold Ответ: 14<sub>10</sub> = 112<sub>3</sub> 
                            h3 ПЕРЕВОД ИЗ ДРУГИХ СИСТЕМ СЧИСЛЕНИЯ В ДЕСЯТИЧНУЮ 
                            p Рассмотрим перевод из троичной системы счисления. Производится аналогично двоичной, но нужно суммировать числа 3 нужной степени.        
                            p.bold Пример. Перевести троичной число 112 в десятичную систему счисления
                            p.notation Находим сумму: 1&middot;3<sup>2</sup> + 1&middot;3<sup>1</sup> + 2&middot;3<sup>0</sup> = <span>14</span>.
                            p.bold Ответ: 112<sub>3</sub> = 14<sub>10</sub>
        include includes/_footer.pug                 
        script(src="js/notation.js")