<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description" content="Простые и составные числа. Ряд простых чисел, таблица простых чисел")
        meta(name="keywords" content="простые числа, prostie chisla, таблица простых чисел")
        title Простые числа, prostie chisla | Математика онлайн
        link(rel="stylesheet", href="css/nod.min.css")
        link(rel="stylesheet", href="css/prime_numbers.min.css")
    body       
        include includes/_header.pug
        .wrapper    
            .app
                include includes/_aside.pug
                    
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab
                                    a.header_link(href="/prime_numbers.html" ) Простые числа
                                li.tab
                                    a.header_link(href="/prime_numbers/table.html" ) Таблица простых чисел
                                li.tab
                                    a.header_link(href="/prime_numbers/isprime.html" ) Проверка числа на простоту
                                li.tab
                                    a.header_link(href="/prime_numbers/examples.html" ) Простые числа, примеры и решения
                        section.theory 
                            h1 Простые и составные числа
                            p Все целые числа делятся на <strong>ПРОСТЫЕ</strong> и <strong>СОСТАВНЫЕ</strong>
                            h2 ПРОСТЫЕ ЧИСЛА
                            p  Простое число - это целое число больше 1, которое не может быть получено путем умножения других чисел
                            .blockquote
                                .title Пример 
                                .content 5 - простое число.<br> Мы не можем перемножить другие целые числа, такие как 2, 3 или 4, чтобы получить 5
                            .blockquote
                                .title Пример
                                .content 6 - не простое число <br> 6 может быть преобразовано в 2 × 3, поэтому это НЕ простое число, это составное число.
                            h2 1 - НЕ ПРОСТОЕ ЧИСЛО
                            p.center.blue 1 не является ни простым ни составным числом
                            h2 ПРИМЕРЫ ПРОСТЫХ и СОСТАВНЫХ ЧИСЕЛ
                            p Чтобы отличить простое число от составного, нужно попытаться разделить его на равные части без остатка. Некоторые целые числа можно, а некоторые нет 
                            .blockquote
                                .title Пример: <br> 
                                .content
                                    span.black <span class="blue inline">6 </span> можно разделить без остатка на 2 и 3<br>
                                    span.center 6 = 2 x 3 <br>
                                    span.block Например, так: <br>
                                    .blockquote_flex
                                        img(src="/img/jpg/prime_numbers/composite-6-2.gif", alt="Деление числа 6 на 2 части")
                                        span или 
                                        img(src="/img/jpg/prime_numbers/composite-6-3.gif", alt="Деление числа 6 на 3 части")
                                    .blockquote_flex
                                        div разделены на 2 группы
                                        div разделены на 3 группы
                                .title Пример: <br> 
                                .content
                                    span.black Но <span class="blue inline">7 </span>нельзя разделить без остатка<br>
                                    .center
                                        img.center.half-width(src="/img/jpg/prime_numbers/prime-7.gif", alt="Простое число 7")
                            p Поэтому числа называют:
                            ul 
                                li Когда число можно разделить без остатка, это <strong>составное число</strong>.
                                li Когда число не может быть разделено без остатка, это <strong>простое число</strong>.
                            .center Итак, 6 - составное, а 7 - простое.
                            h2 КАКИЕ ЧИСЛА ЯВЛЯЮТСЯ ПРОСТЫМИ
                            p Хорошо, но мы можем разделить 7 на семь единиц (или одну семерку) следующим образом:
                            img.center.half-width(src="/img/jpg/prime_numbers/prime-1x7.gif", alt="Деление 7 на 7 частей")
                            p.center.blue 7 = 1 х 7
                            p.center Но мы могли сделать это для любого целого числа!
                            p Поэтому, если число можно разделить только на самого себя и единицу, то это простое число..
                            .blockquote
                                .title Пример: 7 - простое или составное число?<br> 
                                .content
                                    ul 
                                        li Мы не можем разделить 7 без остатка на 2 (получаем 3 и остаток 1)
                                        li Мы не можем разделить 7 без остатка на 3 (получаем 2 и остаток 1)
                                        li Мы не можем разделить 7 без остатка на 4, 5 или 6
                                    p Мы можем разделить 7 только на 1 или 7:
                                    p.center.blue  7 = 1 х 7
                                    p Итак, 7 - <strong>простое число</strong>
                            p Для проверки, является ли число простым служит <a href="/prime_numbers/isPrime.html"> Онлайн калькулятор проверки</a>. Это бывает очень полезно, когда мы имеем дело с очень большим числом.
                            p А также:
                            p.center.blue Число называют составным, когда его можно разделить без остатка на число, отличное от единицы и самого себя
                            .blockquote
                                .title 12 можно разделить точно на 1, 2, 3, 4, 6 и 12:<br> 
                                .content 
                                    p.center.blue 1 × 12 = 12<br> 2 × 6 = 12 <br> 3 × 4 = 12
                                    p Итак, 12 - составное число!
                            p И обратите внимание на это:
                            p.center.blue Любое целое число, большее чем 1 - либо простое, либо составное
                            h2 НАИМЕНЬШЕЕ ПРОСТОЕ И СОСТАВНОЕ ЧИСЛА
                            p Поскольку 1 не является ни простым, ни составным, то рассмотрим следующее за ним число - 2. Это число делится только на 1 и на себя, т.е 2. Следовательно: 2 простое число и получаем:
                            p.center.blue 2 - это наименьшее простое число 
                            p Следующее за числом 2 - это 3. Тройка тоже делится только на 1 и 3 (не делится на 2). Поэтому 3 - тоже простое число 
                            p Ну и наконец, 4 - это составное число. Оно делится на 2 
                            p.center 4 = 2 × 2
                            p.center.blue 4 - наименьшее составное число
                            h2 РЯД ПРОСТЫХ ЧИСЕЛ
                            p Набор простых чисел называется <strong>множеством</strong> или <strong>рядом</strong> простых чисел. 
                            p Рассмотрим ряд простых чисел до 10. 
                            p Мы уже знаем, что 2, 3 и 5 - это простые числа. Какие еще числа, меньшие 10 делятся только на 1 и на себя? 
                            p Это число 7. 
                            p Остальные числа, до 10 - составные. 
                            ul 
                                li 6 - делится на 2 и 3
                                li 8 - делится на 2 и 4
                                li 9 - делится на 3
                            p Поэтому получаем ряд простых чисел: 2, 3, 5, 7
                            h2 ТАБЛИЦА ПРОСТЫХ ЧИСЕЛ
                            p Часто простые числа записывают в виде таблицы. Ниже показана таблица, в которой находятся все простые числа до 20:
                            table 
                                tr
                                    td 2
                                    td 3
                                    td 5
                                    td 7
                                    td 11
                                    td 13
                                    td 17
                                    td 19
                            p Можете самостоятельно убедиться, что числа 11, 13, 17 и 19 - простые.
                            p Если вам необходим список больших простых чисел, то можете воспользоваться <a href="/prime_numbers/table.html">Таблицей простых чисел</a>  
                            h2 САМОЕ БОЛЬШОЕ ПРОСТОЕ ЧИСЛО
                            p Древнегреческий математик Евклид доказал теорему, согласно которой количесвто простых чисел бесконечно. Поэтому, ответить на вопрос какое простое число самое большое нельзя. 
                            p Однако, существует самое большое известное простое число. Оно найдено в 2018 году и равно 2<sup>82 589 933</sup> − 1. Это число состоит из 24 862 048 цифр.
                            h2  ГДЕ ПРИМЕНЯЮТСЯ ПРОСТЫЕ ЧИСЛА
                            p В математике есть много головоломок, которые можно решить легче, если «разбить» составные числа на их множители простых чисел.
                            p Большая часть интернет-безопасности основана на математике, использующей простые числа в криптографии.  
                            h3.interest Полезные материалы по теме
                            ul.interesting
                                li.tab
                                    a.header_link(href="/prime_numbers/table.html" ) Таблица простых чисел
                                li.tab
                                    a.header_link(href="/prime_numbers/isprime.html" ) Проверка, простое ли число
                                li.tab
                                    a.header_link(href="/prime_numbers/examples.html" ) Простые числа. Примеры решения задач                
        include includes/_footer.pug     
        script(src="js/prime_numbers.js")
        script(src="js/media.js")