<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" href="/icon/favicon.ico" type="image/x-icon")
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name="description" content="Расчет НОК онлайн. Калькулятор с подробным решением. Без рекламы. Простое и подробное объяснение. Примеры нахождения наименьшего общего кратного.")
        title НОК онлайн с решением. Калькулятор наименьшего общего кратного чисел | Математика онлайн
        link(rel="stylesheet", href="/css/nod.min.css")
    body        
        include ../../includes/_header.pug
        .wrapper    
            .app
                include ../../includes/_aside.pug                   
                .main
                    .data
                        .nav_tabs 
                            ul 
                                li.tab Калькулятор
                                li.tab Теория
                                li.tab Примеры
                        section.solution 
                            h2.solution_title Онлайн расчет наименьшего общего кратного (НОК) чисел
                            span.solution_instruction Введите ваши числа:
                            .solution_input
                                input(type="text" placeholder = "Введите число" required)
                                input(type="text" placeholder = "Введите число" required)
                            .calculate 
                                button.calc.btn Рассчитать
                                .message_error Введите значения в поля выше
                            .solution_result 
                                span Наименьшее общее кратное (НОК) чисел равно:
                                input(type="text")
                            button.solution_btn.btn Решение
                            .solution_text
                        section.theory 
                            h3 Наименьшее общее кратное (НОК)
                            p НОК — это наименьшее положительное число, кратное двум или более числам.
                            //- blockquote Наибольший общий делитель находится для двух и более чисел (двух, трех, четырех и т.д.). Невозможно найти НОД для одного числа.
                            h3 Что такое «Кратное»?
                            p Мы получаем кратное число, когда мы умножаем его на другое число . <br> Например, умножение на 1, 2, 3, 4, 5 и т. д., Но не на ноль . Так же, как в таблице умножения.
                            ul.theory_list 
                                li кратные 4 являются: 4,8,12,16,20,24,28,32,36,40,44, …
                                li кратные 5 : 5,10,15,20,25,30,35,40,45,50, …      
                            h3 Что такое «Общее кратное»?   
                            p Раньше мы перечислили первые несколько кратных чисел 4 и 5 : общие кратные найдены в обоих списках.
                            ul.theory_list 
                                li Кратные 4: 4,8,12,16, 20 , 24,28,32,36, 40 , 44, …
                                li Кратные 5: 5,10,15, 20 , 25,30,35, 40 , 45,50, …
                            h3 Что такое «Наименьшее общее кратное»?
                            p Это просто наименьшее из общих кратных.<br>В нашем предыдущем примере наименьшее из общих кратных составляет 20. Поэтому наименьшее общее кратное 4 и 5 равно 20 .                           
                        section.examples 
                            h3 Нахождение наименьшего общего кратного (1 способ)
                            p В этом методе нужно перечислить кратные для каждого числа, пока мы не получим первое совпадение.
                            p.title Задача. Найти НОК чисел 4 и 10.
                            p Кратные 4:  числа 4, 8, 12, 16, 20, …
                            p и кратные 10:  числа 10, 20, …
                            p Eсть совпадение на 20. Таким образом, наименьшее общее кратное 4 и 10 составляет 20.
                            p Ответ: НОК (4,10) = 20.
                            p Еще один пример:
                            p Найти наименьшее общее кратное 6 и 15:
                            p Кратные 6:  6, 12, 18, 24, 30, …
                            p и кратные 15:  15, 30, …
                            p Совпадение на 30.
                            p Таким образом, наименьшее общее кратное 6 и 15 составляет 30.
                            p Записываем ответ: НОК (6,15) = 30.
                            h3 2 способ находения НОК
                            p Для этого нужно найти наибольший общий делитель НОД) двух чисел. Если вы не знаете как это делается, то перейдите по ссылке 
                                a(href="nod.html") Нахождение НОД чисел
                            p Далее, нужно умножить два числа и результат поделить на НОД.
                            p Или по формуле: НОК(a,b) = a &middot; b / НОД
                            p Найти наименьшее общее кратное 8 и 18:                            
                            p Произведение чисел: 8 &middot; 18 = 144;
                            p Наибольший общий делитель этих чисел НОД(8,18) = 2;
                            p НОК равен: НОК(8,18) = 144 / 2 = 72.
                            p Таким образом, наименьшее общее кратное 8 и 18 составляет 72.
                            p Записываем ответ: НОК (8,18) = 72.                   
        include ../../includes/_footer.pug                   
        script(src="/js/nok.js")